@*@page "/calci"


<h3>Caclulate you number</h3>



@code{

	

function Sum(x, y) {

	this.x = document.getElementById('1st').value;
	this.y = document.getElementById('2nd').value;

	var result = parseInt(this.x) + parseInt(this.y);

	document.getElementById("Answer1").innerHTML = "Sum of the number is: " + result;

}

function Diff(x,y) {
	
	this.x = document.getElementById('1st').value;
	this.y = document.getElementById('2nd').value;
	var result = parseInt(this.x) - parseInt(this.y);

document.getElementById("Answer1").innerHTML = "Difference of the number is: " + result;

}

function Multiply(x,y) {

	this.x = document.getElementById('1st').value;
	this.y = document.getElementById('2nd').value;
		var result = parseInt(this.x) * parseInt(this.y);

document.getElementById("Answer1").innerHTML = "Multiplication of the number is: " + result;

}

function Division(x,y) {

	this.x = document.getElementById('1st').value;
	this.y = document.getElementById('2nd').value;
	var result = parseFloat(this.x) / parseFloat(this.y);

document.getElementById("Answer1").innerHTML = "Division of the number is: " + result;
}
}*@