@page "/fetchdata"
@inject HttpClient http

@using LearnWithAbhi.Application.Model;


<pagetitle>weather forecast</pagetitle>

<h1>weather forecast</h1>

<p>this component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>date</th>
                <th>temp. (c)</th>
                <th>temp. (f)</th>
                <th>summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected  async Task oninitializedasync()
    {

        forecasts = await http.GetFromJsonAsync<WeatherForecast[]>("weatherforecast");
    }
}