@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="About" target="_blank">About</a>           
            <a href="LoginPage" target="_self">Login</a>
            <a href="registration" target="_self">Register</a>
        </div>
           

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
